/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(78, 87, 110);
}
/* index_button */
.index_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.img {
  display: none;
}
.img:after {
  content: "";
  position: absolute;
  bottom: 150px;
  left: 0;
  width: 100%;
  height: 11px;
  border: 1px solid #000;
  background: #2196f3;
}
.index_bt {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #00d646;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  outline: none;
  margin-left: 30px;
  border-radius: 10px;
}
.index_bt:hover {
  color: #255748;
  background: #00d647b7;
  box-shadow: 0 0 10px #00d647b7, 0 0 40px #00d647b7, 0 0 80px #00d647b7;
  transition-duration: 0.5s;
  transition-delay: 1s;
  border-radius: 10px;
}
.index_bt span {
  position: absolute;
  display: block;
}
.index_bt span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00d646);
  border-radius: 5px;
}
.index_bt:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.index_bt span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00d646);
}
.index_bt:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.index_bt span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00d646);
}
.index_bt:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.index_bt span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00d646);
}
.index_bt:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* self.html */
/* header Parallax section*/
#home {
  background: url(../img/white.JPG) repeat fixed 100%;
  background-position: bottom;
  background-size: 140%;
  height: 100vh;
}
#home:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 1;
}
/* navbar section */
.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  color: #fff;
  box-shadow: 0px 5px 100px rgb(34, 39, 53);
  z-index: 2;
}
.logo {
  background-image: url(../img/logo-s.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 100px 10px 0px;
}
.logo a {
  display: flex;
}
.nav-menu li {
  display: inline-block;
  text-transform: uppercase;
}
.nav-menu a {
  display: block;
  text-decoration: none;
  color: #939dab;
  transition-duration: 0.5s;
  padding: 20px 20px;
}
.nav-menu li:nth-child(1) > a {
  color: #00d646;
}
.nav-menu a:hover {
  color: #5a5a5a;
}
/* header content section */
.header-content {
  width: 290px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  display: inline-block;
  margin: 240px 0 0 400px;
}
.header-content h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 45px;
  line-height: 90px;
}
.header-content span {
  color: #00d646;
}
.header-content p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}
/* Professional section */
#professional {
  height: 100vh;
  background: url(../img/working.jpg) fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
}
/* overlay */
#professional:after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #777f8a;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.pro-box {
  width: 50%;
  z-index: 3;
  margin-bottom: 150px;
}
.pro-title {
  margin: 0 0 50px 20%;
  color: white;
  line-height: 70px;
}
.pro-title h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 8px;
}
.pro-title span {
  color: #939dab;
  font-size: 50px;
  font-weight: bold;
  margin-right: 15px;
  letter-spacing: 8px;
}
.title-num {
  display: flex;
}
.pro-title h3 {
  font-size: 22px;
  letter-spacing: 5px;
  margin-left: 4px;
}
/* bar-chart */
.bar-chart li {
  display: grid;
  grid-template-columns: 20% 1fr 0%;
  margin: 30px 0;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.bar-chart p {
  text-align: right;
}
.bar {
  height: 16px;
  margin: 0 10px 0 30px;
  background-color: rgb(0, 214, 70);
}
.bar-num {
  display: flex;
}
.bar1 {
  width: 80%;
}
.bar2 {
  width: 75%;
}
.bar3 {
  width: 80%;
}
.bar4 {
  width: 70%;
}
.bar5 {
  width: 70%;
}
/* insta section Parallax效果 ＆ OverLay效果 */
#instagram {
  height: 100vh;
  background: url(../img/green.jpg) repeat fixed 100%;
  background-size: cover;
  position: relative;
}
#instagram:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 0;
}
.instagram-content {
  padding-top: 20%;
  padding-bottom: 20%;
  z-index: 1;
  position: relative;
}
.instagram-content p {
  color: white;
  text-align: center;
  padding: 50px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
}
.instagram-content h2 {
  color: white;
  text-align: center;
  padding: 50px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
}
.instagram-content span {
  color: #00d646;
}
/* combin section */
.combine {
  height: 150vh;
  background: url(../img/snow.png);
  background-size: cover;
  position: relative;
}
.combine:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
}
/* portfolio section */
#portfolio {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.folio-box {
  width: 50%;
  z-index: 3;
}
.folio-title span {
  color: #939dab;
  font-size: 50px;
  font-weight: bold;
  margin-right: 15px;
  letter-spacing: 8px;
}
.folio-title {
  margin: 0 0 50px 20%;
  color: white;
  line-height: 70px;
}
.folio-title h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 8px;
}
.folio-title span {
  color: #939dab;
  margin-right: 15px;
}
.folio-title h3 {
  font-size: 22px;
  letter-spacing: 5px;
  margin-left: 4px;
}
.work {
  display: flex;
  justify-content: space-around;
}
.work img {
  width: 300px;
  height: 300px;
  box-shadow: 0px 10px 30px #333;
  vertical-align: top;
}
/* contact section */
.contact-box {
  background-color: rgb(78, 87, 110);
  width: 60%;
  margin: 0 auto;
  position: absolute;
  left: 20%;
  bottom: -300px;
  z-index: 1;
  box-shadow: 0px 10px 30px #333;
}
.contact-info {
  display: flex;
  padding: 100px 100px 30px 100px;
}
.contact-title {
  width: 50%;
  color: white;
  margin-right: 15px;
}
.contact-title h4 {
  font-size: 25px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.contact-title h5 {
  font-size: 15px;
  line-height: 2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.contact-title p {
  line-height: 2em;
  letter-spacing: 1px;
}
.mail-area {
  width: 50%;
  margin-left: 15px;
}
.mail-top-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mail-area input {
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #5a5a5a;
}
.mail-area input[name="name"] {
  width: 48%;
}
.mail-area input[name="email"] {
  width: 48%;
}
.mail-area input[name="phone"] {
  width: 100%;
}
.mail-area textarea[name="message"] {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #5a5a5a;
}
.mail-area input[type="submit"] {
  width: 100%;
  background: rgba(0, 214, 70, 1);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.mail-area input[type="submit"]:hover {
  background: rgb(0, 172, 57);
}
.icon-area {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.icon-area img {
  width: 25px;
  height: 25px;
  margin: 0 15px;
}
/* footer */
.footer-parallax {
  height: 70vh;
  width: 100%;
  background: url(../img/footer-parallax.jpg) repeat fixed 100%;
  background-size: cover;
  position: relative;
}
.footer-parallax:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.7;
}
.footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  font-size: 12px;
  color: #becbdf;
  margin: 0 auto;
}
.footer-logo {
  background-image: url(../img/logo-s.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 200px;
}
@media (max-width: 569px) {
  #home {
    background: url(../img/white-rwd.png) fixed;
  }
  #home:after {
    opacity: 0.5;
  }
  .nav-bar .logo {
    margin: 0 auto;
  }
  .nav-bar ul {
    display: none;
  }
  .header-content {
    position: relative;
    margin: 0 auto;
    padding: 60% 10px;
    display: block;
    z-index: 2;
  }
  .header-content h1 {
    text-align: center;
  }
  .header-content p {
    text-align: center;
  }

  /* professional */
  .pro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .title-num {
    display: block;
  }
  .pro-title {
    text-align: center;
    margin: 0;
  }
  .pro-title span {
    font-size: 150px;
    margin: 0;
  }
  .pro-title h2 {
    font-size: 35px;
    border-bottom: 3px dotted #00d646;
    margin-bottom: 15px;
  }
  .pro-title h3 {
    margin: 0;
    line-height: 1.5em;
  }
  /* bar-chart */
  .bar-chart ul {
    width: 300px;
  }
  .bar-chart li {
    display: block;
    text-align: center;
  }
  .bar-chart p {
    text-align: left;
    margin-bottom: 5px;
  }
  .bar-num span {
    display: none;
  }
  .bar {
    display: block;
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
  }
  .bar1:after {
    content: "80%";
  }
  .bar2:after {
    content: "75%";
  }
  .bar3:after {
    content: "80%";
  }
  .bar4:after {
    content: "70%";
  }
  .bar5:after {
    content: "70%";
  }

  /* insta */
  .instagram-content {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .instagram-content p {
    line-height: 1.5em;
  }
  /* combine */
  .conbine {
    height: auto;
    position: static;
  }
  /* portfolio */
  #portfolio {
    position: relative;
    top: 250px;
  }
  .folio-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .folio-title {
    text-align: center;
    margin: 0 0 30px 0;
  }
  .folio-title span {
    font-size: 150px;
    margin: 0;
  }
  .folio-title h2 {
    border-bottom: 3px dotted #00d646;
    margin-bottom: 15px;
  }
  .folio-title h3 {
    margin: 0;
    line-height: 1.5em;
  }
  .work {
    display: block;
  }
  /* contact */
  .contact-box {
    position: relative;
    top: 500px;
    left: 0px;
    box-shadow: none;
    width: 90%;
    background-color: rgba(51, 59, 80, 1);
  }
  .contact-info {
    display: block;
    padding: 0;
  }
  .contact-title {
    text-align: center;
    width: auto;
    margin: 0px;
    padding: 30px 20px;
  }
  .mail-area {
    width: auto;
    margin: 0;
    padding: 30px 20px;
  }
  /* footer */
  .footer-parallax {
    height: 30vh;
    top: 900px;
  }
  .footer {
    position: relative;
    flex-direction: column;
    top: 900px;
  }
}
